body{background: url(pics/bg.jpg) no-repeat 0px 0px;}


.home{
  position:fixed; 
  bottom:43px; 
  right:40px; 
  display:block;
  z-index: 99;
  width: 62px;
  height: 63px;
  background: url(pics/home.png);
}
.home:hover{background: url(pics/home2.png)}
